  <li>
                                        <a href="<%= '/mailbox/inbox?id='+ conversation.id.to_s  %>" class="user-msg">
                                        <div class="msg-user-prof">
                                            <img src="/assets/images/teacher-img.jpg" width="50" height="50">
                                            <div class="user-name-msg">
                                                <h4><%= conversation.originator.username %></h4>
                                                <p><%= truncate conversation.messages.last.body, length: 145 %></p>
                                            </div> 
                                        </div>
                                        </a> 
                                    </li>