    <% @conversations = current_user.mailbox.conversations  %>
    <% @conversations.each do |conver| %>
    <% conver.participants.each do |participant| %>
      <% if participant != current_user %>
  <li>
    <a href="<%= mailbox_inbox_path + '?id='+ conver.id.to_s  %>" class="user-msg">
    <% @first_con_id = conver.id if @first_con_id.blank? %>
     
    <div class="msg-user-prof">
        <img src="<%= participant.avatar.blank? ? asset_path('profile-placeholder.jpg') : participant.avatar %>" width="50" height="50">
        <div class="user-name-msg">
          
            
              <h4><%= participant.username %></h4>
            <p><%= truncate conver.messages.last.body, length: 145 %></p>
        </div> 
    </div>
    
    </a> 
 </li>
      <% end %>
     <% end %> 
     <% end %>