    <div class="video_list">
<% if @videos.blank? %>
<a data-target="#addvideo" data-toggle="modal" class="btn" href="#">Add Video</a>
<% else %>

    <% @videos.each do |video| %>
    <div class="col-md-6 text-center">                        
                          <div class="video-box">
                            <div class="embed-responsive embed-responsive-16by9">
                              <a href="<%= video.video_url %>" data-toggle="modal" data-target="#Video1"><img src="/assets/video-thumbnail.jpg" class="img-responsive"></a>
                              <div class="clerarfix"></div>
                            </div>
                            <p><%= video.vid_description %></p>
                             <a href="/videos/<%= video.id %>" data-remote="true" data-method="delete" data-confirm="Are you sure?" class="close-button-x"><span>X</span></a>
          </div>
      </div>
    <% end %>
    <% end %>
</div>
<div id="incomplete_videos"></div>