
	<div class="span9">
		
		<div class="row-fluid">
			
			<div class="span12">
				<h2>Latest jobs</h2>
				<table class="table table-striped">
					<tbody>
                  <% @job_posts.each do |job_post| %>
						<tr class="">
							<td><span class="label label-success">TESL JOBS</span></td>
							  
							<td><strong><%= link_to job_post.title, job_post %></strong><br>
								<a href="http://esljobs.herokuapp.com/#"><%= job_post.company %></a> – Posted by <a href="http://esljobs.herokuapp.com/#">Admin</a>
							</td>
							<td><%= job_post.city %><br><%= job_post.country.countryname %></td>
							<td> 17 Jan 2013</td>
						</tr>	                
					<% end %>
					</tbody>
				</table>
			</div>
			
		</div>
	</div>