	<!-- Featured Teachers Section -->
     <section class="ft-sec">
   	<div class="container">
    	<div class="row featured-teachers">  
                
                <div class="trt-cover">
                    <h1>Featured <span>Teachers</span></h1>
                    <div class="heading-border">
                    	<span class="line-border-left"></span>
                        <span class="left-circle"></span>
                        <span class="center-circle"></span>                        
                        <span class="left-circle"></span>
                        <span class="line-border-right"></span>
                    </div>
                </div>
                
                
                
				<div class="col-md-3 ft-single-box">
                	<div class="teacher-img-cover">
                    	<img src="assets/teacher-img.jpg" class="img-responsive">
                        <a href="#"><span class="plus-icon">+</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="teacher-text">
                    	<h3>Olga Korokhina</h3>
                        <p>Math Specialist</p>
                        <div class="location">
                            	<i class="fa  fa-map-marker"></i>
                                 United States
                            </div>
                    </div>           
            </div>
            
            	<div class="col-md-3 ft-single-box">
                	<div class="teacher-img-cover">
                    	<img src="assets/teacher-img.jpg" class="img-responsive">
                        <a href="#"><span class="plus-icon">+</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="teacher-text">
                    	<h3>Olga Korokhina</h3>
                        <p>Computer Sciences Specialist</p>
                        <div class="location">
                            	<i class="fa  fa-map-marker"></i>
                                 United States
                            </div>
                    </div>           
            </div>
            
            	<div class="col-md-3 ft-single-box">
                	<div class="teacher-img-cover">
                    	<img src="assets/teacher-img.jpg" class="img-responsive">
                        <a href="#"><span class="plus-icon">+</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="teacher-text">
                    	<h3>Olga Korokhina</h3>
                        <p>English Specialist</p>
                        <div class="location">
                            	<i class="fa  fa-map-marker"></i>
                                 Canada
                            </div>
                    </div>           
            </div>
            
            	<div class="col-md-3 ft-single-box">
                	<div class="teacher-img-cover">
                    	<img src="assets/teacher-img.jpg" class="img-responsive">
                        <a href="#"><span class="plus-icon">+</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="teacher-text">
                    	<h3>Olga Korokhina</h3>
                        <p>Biology Specialist</p>
                        <div class="location">
                            	<i class="fa  fa-map-marker"></i>
                                 Jamaica
                            </div>
                    </div>           
            </div>
            <div class="clearfix"></div>
              <div class="view-all-teachers text-center">
                    <a href="#" class="viewallteachers-btn col-md-3">View All Teachers</a>
                </div>  
      
            
        </div>
    </div>
   </section>   