							</div>							
						</section>
						<div class="bannar fix">
							<img src="/assets/img/bannar1.jpg" alt="" />
						</div>		
					</div>
					
				</div>
			</div>
		</div>
		
		<footer>
			<div class="container">
				<div class="row footer_area">
					<div class="col-md-4 col-sm-4">
						<div class="footer-logo fix">
							<img src="/assets/img/logo_foo.png" alt="" />
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="copyright fix">
							<p>All content &copy; 2014 ESL jobs Lounge</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="social_connect social-icon-footer">
							<ul>
								<li><a href=""><i class="fa fa-facebook"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus"></i></a></li>
								<li><a href=""><i class="fa fa-linkedin"></i></a></li>
								<li><a href=""><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>