        <!-- Footer -->
		<footer class="footer">
            <div class="footer-copyright">
           		 <div class="container">
                    <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 footer-links pull-right">
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Advertise</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Contact Us</a></li>                        
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 pull-left">
                              <p> © ESL Jobs Lounge. All rights reserved. </p>
                        </div>
                        
                    </div>
           		 </div>        
            </div>
            <div class="footer-social-media">
            	<div class="container">
                	<div class="row">
                    <div class="col-md-12 socialMediaHeader">
                    <h4>Connect with us</h4>
                	<ul>
                    	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>                       
                    </ul>
                </div>
                    </div>
                </div>
            </div>
        </footer>

	
	<!-- Footer -->
	
	
    
    <!-- jQuery Resources-->
  <!--  <script src="/assets/js/jquery.js"></script> -->
    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/js/bootstrap-editable.js"></script>
   
    <script src="/assets/js/bootstrap.min.js"></script>
    
    <!-- Custom Script -->
    <script src="/assets/js/custom-script.js"></script>
