<footer>
	<div class="container-fluid">
		<div class="row-fluid footer_section_pre">
			
			<div class="span12">
				<p class="copy center"><a href="http://esljobs.herokuapp.com/typography.html">Terms</a> | <a href="http://esljobs.herokuapp.com/typography.html">Privacy</a> | <a href="http://esljobs.herokuapp.com/typography.html">About</a></p>
				<p class="copy center">All content © 2013 <a href="http://mashpy.me/">Mashpy Says</a></p>
				<br>
			</div>
		</div>
    	
	</div>
	
	
</footer>