
                <div class="row-fluid header_bar navbar navbar-fixed-top main-theme"><!-- start header -->
                <div class="navbar-inner">
                        <div class="container-fluid">
                                <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                </a>
                                <div class="logo">
                                        <a href="/">
                                                <span class="main_logo_text">ESL <span>J<img alt="" src="globe.gif"><i class=" icon-globe"></i>obs</span></span>
                                                <p>All ESL Teaching  Jobs</p>
                                        </a>
                                </div>
                                
                                <div class="nav-collapse pull-right">
                                        <ul class="nav nav-pills">
                                                <li class=""><a href="/about">About</a></li>
                                                <li class=""><a href="/contact">Contact</a></li>
                                                <li class=""><a href="/advertise">Advertise</a></li>
                                        </ul>
                                </div><!-- /.nav-collapse -->
                                                        </div>
                </div>
        </div><!-- end header -->