         <div class="row-fluid header_bar navbar navbar-fixed-top main-theme"><!-- start header -->
                <div class="navbar-inner">
                        <div class="container-fluid">
                                <div class="logo">
                                        <a href="/">
                                                <span class="main_logo_text">ESL <span>Jobs</span></span>
                                                <p>ESL Teaching Jobs Lounge</p>
                                        </a>
                                </div>
                                
                                <div class="nav-collapse pull-right">
                                        <ul class="nav nav-pills">
                                                <li class=""><a href="/about">About</a></li>
                                                <li class=""><a href="/advertise">Advertise</a></li>
                                                <li class=""><a href="/contact">Contact</a></li>                                                
                                        </ul>
                                </div><!-- /.nav-collapse -->
                        </div>
                </div>
        </div><!-- end header -->