
	<!-- How it works Section -->
        <section class="how-it-works-sec">
            <div class="container">
                <div class="row how-itworks">       	
                	
                <div class="trt-cover">
                    <h1>How it <span>Works?</span></h1>
                    <div class="heading-border">
                    	<span class="line-border-left"></span>
                        <span class="left-circle"></span>
                        <span class="center-circle"></span>                        
                        <span class="left-circle"></span>
                        <span class="line-border-right"></span>
                    </div>
                </div>
                
                
                    <div class="col-md-4 how-it-works-box">
                    	<div class="icon-cover">
                        	<i class="fa fa-briefcase"></i>
                        </div>
                        <h2>Create a Profile</h2>
                        <p>Start by creating a profile on our website. Teachers can create an individual profile and apply to jobs. Schools or businesses can create a business profile and post jobs.
 </p>
                    </div>
                    
                    <div class="col-md-4 how-it-works-box">
                    	<div class="icon-cover">
                        	<i class="fa fa-user"></i>
                        </div>
                        <h2>Post a Job </h2>
                        <p>Post jobs and attract teachers from around the world.</p>
                    </div>
                    
                    <div class="col-md-4 how-it-works-box">
                    	<div class="icon-cover">
                        	<i class="fa fa-money"></i>
                        </div>
                        <h2>Hire the Perfect Teacher</h2>
                        <p>Review applicants and hire the right teacher to join your organization!</p>
                    </div>
                </div>
                
               
            </div>
        </section>
        
