
	<!-- How it works Section -->
        <section class="how-it-works-sec">
            <div class="container">
                <div class="row how-itworks">       	
                	
                <div class="trt-cover">
                    <h1>How it <span>Works?</span></h1>
                    <div class="heading-border">
                    	<span class="line-border-left"></span>
                        <span class="left-circle"></span>
                        <span class="center-circle"></span>                        
                        <span class="left-circle"></span>
                        <span class="line-border-right"></span>
                    </div>
                </div>
                
                
                    <div class="col-md-4 how-it-works-box">
                    	<div class="icon-cover">
                        	<i class="fa fa-briefcase"></i>
                        </div>
                        <h2>What kind of work </h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown </p>
                    </div>
                    
                    <div class="col-md-4 how-it-works-box">
                    	<div class="icon-cover">
                        	<i class="fa fa-user"></i>
                        </div>
                        <h2>Hire the right freelancer </h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown </p>
                    </div>
                    
                    <div class="col-md-4 how-it-works-box">
                    	<div class="icon-cover">
                        	<i class="fa fa-money"></i>
                        </div>
                        <h2>Payments</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown </p>
                    </div>
                </div>
                
               
            </div>
        </section>
        
