								<!--sidebar start-->
								<div class="col-md-3 col-sm-3 sidebar-area">
									<aside>
										<div class="item-first fix">
											<a href=""><img src="/assets/img/1.jpg" alt="" /></a>
										</div>
										
										<div class="facebook-like-area fix">
											<div id="fb-root"></div>
											<script>(function(d, s, id) {
											  var js, fjs = d.getElementsByTagName(s)[0];
											  if (d.getElementById(id)) return;
											  js = d.createElement(s); js.id = id;
											  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
											  fjs.parentNode.insertBefore(js, fjs);
											}(document, 'script', 'facebook-jssdk'));
											</script>
											<script type="text/javascript">
												var width=document.getElementById("facebook-like-area").offsetWidth;
												
											</script>
											<h2>Follow us on a Facebook</h2>
											<div class="fb-like-box" data-href="https://www.facebook.com/pages/ESL-Jobs-Lounge/528664423908203" data-width="100%" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
										</div>
										<div class="social_connect fix">
											<h2>Stay connected with us</h2>
											<ul>
												<li><a href=""></a><img src="/assets/img/fb.png" alt="" /></li>
												<li><a href=""></a><img src="/assets/img/tw.png" alt="" /></li>
												<li><a href=""></a><img src="/assets/img/google.png" alt="" /></li>
												<li><a href=""></a><img src="/assets/img/link.png" alt="" /></li>
												<li><a href=""></a><img src="/assets/img/rss.png" alt="" /></li>
											</ul>
										</div>
										<div class="browse-job fix">
											   <h2>Browse Jobs by Country</h2>
   <div style="margin-top:-13px; margin-bottom:30px" class="row-fluid">
		  <% @countries.each do |country| %>
    <tr>
      <td><%=link_to "ESL JOBS in "+ country.countryname,country %></td><br/>
    </tr>
   <% end %>
   <td><a href="/esl-jobs">All ESL Teacher Job</a></td>
   
	</div>	
										</div>
									</aside>
								</div>	
								<!--sidebar start end -->