		<!--  Location search area -->
		<div class="location-search-area fix">
			<div class="container">
				<div class="row">
					<div class="col-md-12 main-location fix">
							<div class="col-md-9 col-sm-10 main-location-area">
								<form action="">
									<div class="col-md-5 col-sm-5">
										<div class="search-location fix">
											<p>Location</p>
											<select>
												<option selected="selected">Select your country</option>
												 <option value="Korea">Korea</option>
												 <option value="China">China</option>
												 <option value="Japan">Japan</option>
												 <option value="Korea">Korea</option>
												 <option value="China">China</option>
												 <option value="Japan">Japan</option>
											</select>
										</div>
									</div>
									<div class="col-md-5 col-sm-5">
										<div class="job-search fix">
											<p>I'm looking for</p>
											<input type="text" placeholder="Search job here"/>
										</div>
									</div>
									<div class="col-md-2 col-sm-2 loc-job-submit fix">	
										<input type="submit" value="SEARCH"/>
										<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									</div>
								</form>
							</div>
					</div>
				</div>
			</div>
		</div>
		<!--  Location search area  end-->