<div class="container-fluid home_content">
			<div class="row-fluid hero_bar"><!-- start hero -->
				<div class="span12">
					<div class="row-fluid">
						<br>
						<div class="span9 offset1 home-hero">
							
							<div class="row-fluid">
								<div class="span11 offset1">
									<div class="row-fluid">
										<div class="span5">
											<h3>I'm looking for...</h3>
										</div>				
										<div class="span5">
											<h3>Location</h3>
										</div>
									</div>
									<%= form_tag job_posts_path, :method => 'get' do %>
									<div class="row-fluid">
										
										<div class="span5">
											 <%= text_field_tag :search, params[:search], class: "span12 search_input", placeholder: "What type of job are you looking for?" %>
										</div>
										
										<div class="span4">
									          <select class="home_select">
									          	 <% @countries.each do |country| %>
                                              <option value="0"> <%= country.countryname %></option>
                                              <%end%>	
                                              </select>   						
										</div>

										<div style="padding-left:10px" class="span3">
										  <%= submit_tag "Search", :class=>"btn btn-primary btn-success" ,:title => nil %> 
										</div>
									
									</div>
									<% end %>	
								</div>
							</div>
							<br>
							<div class="row-fluid">
								<div class="span12">
									
									<div class="row-fluid">
										<div class="span3 offset1">
											<h3>Post a job</h3>
											<a href="#">Fast and free, with upgrade options</a><br>
										</div>
										<div class="span3 offset1">
											<h3>Browse jobs</h3>
											<a href="/job_posts/">Find the perfect job for you</a><br>
										</div>					
										<div class="span3 offset1">
											<h3>Register</h3>
											<a href="#">Apply for jobs quickly and easily</a><br>
										</div>
									</div>
									
								</div>
							</div>
						</div>		
					</div>				
				</div>
	</div>
		</div><!-- end hero -->