	<!-- Our top rated teachers section -->
	<section class="trt-sec">
    	<div class="container">
        	<div class="row">
            	<div class="trt-cover">
                	<h1>Featured <span>Employers</span></h1>
                    <div class="heading-border">
                    	<span class="line-border-left"></span>
                        <span class="left-circle"></span>
                        <span class="center-circle"></span>                        
                        <span class="left-circle"></span>
                        <span class="line-border-right"></span>
                    </div>
                    
                    <div class="trt-carsouel-slider-cover"> 
                <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="3000" id="myCarousel">
                <div class="carsouel-cover">
                <div class="carousel-inner">
                <div class="item active">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="top-rated-single-employe">
                                                <h2>Sergey Varlamov</h2>                      
                                                <div class="location">
                                                    <i class="fa  fa-map-marker"></i>
                                                     Charlotte, NC 28213, CHARLOTTE
                                                </div>  
                                                <div class="start-rating-cover">
        <fieldset class="rating">
        <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
        <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
        <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
        <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
        <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
        <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
        <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
        <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
        <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
        <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset>
        <div class="clearfix"></div>
                                                </div>  
                                                <div class="job-label">Latest Job:</div>
                                                <h4 class="slide-latest-job"><a href=""><i class="fa fa-briefcase"></i> Middle School Counselor</a></h4>                                        
                                            </div>
                                            <div class="employe-pic">
                                                    <img src="assets/employe-pic.jpg" class="img-responsive">
                                                </div>    
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="top-rated-single-employe">
                                                <h2>Sergey Varlamov</h2>                      
                                                <div class="location">
                                                    <i class="fa  fa-map-marker"></i>
                                                     Charlotte, NC 28213, CHARLOTTE
                                                </div>  
                                                <div class="start-rating-cover">
        <fieldset class="rating">
        <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
        <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
        <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
        <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
        <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
        <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
        <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
        <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
        <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
        <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset>
        <div class="clearfix"></div>
                                                </div>  
                                                <div class="job-label">Latest Job:</div>
                                                <h4 class="slide-latest-job"><a href=""><i class="fa fa-briefcase"></i> Middle School Counselor</a></h4>                                        
                                            </div>
                                            <div class="employe-pic">
                                                    <img src="assets/employe-pic.jpg" class="img-responsive">
                                                </div>    
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="top-rated-single-employe">
                                                <h2>Sergey Varlamov</h2>                      
                                                <div class="location">
                                                    <i class="fa  fa-map-marker"></i>
                                                     Charlotte, NC 28213, CHARLOTTE
                                                </div>  
                                                <div class="start-rating-cover">
        <fieldset class="rating">
        <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
        <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
        <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
        <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
        <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
        <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
        <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
        <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
        <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
        <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset>
        <div class="clearfix"></div>
                                                </div>  
                                                <div class="job-label">Latest Job:</div>
                                                <h4 class="slide-latest-job"><a href=""><i class="fa fa-briefcase"></i> Middle School Counselor</a></h4>                                        
                                            </div>
                                            <div class="employe-pic">
                                                    <img src="assets/employe-pic.jpg" class="img-responsive">
                                                </div>    
                    </div>
               
                    
                
                    
                </div>
               
                
               
                
                
                
                </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
                </div>

                    </div>
                </div>
                <div class="view-all-employers text-center">
                    <a href="#" class="viewallemployers-btn col-md-3">View All Employers</a>
                </div>
            </div>
        </div>
    </section>