<%= render 'home/header'  %>
</header>
    <section class="page-heading-sec">    
        <div class="container">
            <div class="row">
            <div class="page-heading">
                 <h1>My Messages</h1>            
            </div>       
        </div>
    </div>

    </section>
    
    <!-- Login form section -->
    <section class="job-description-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-4 nopr">
                        <div class="col-left-side">
                            <a class="newmsg"> + New message</a>
                            <div class="clearfix"></div>
                            <div class="search-field">
                                <form>
                                    <input type="text" name="" id="">
                                    <button type="text" class="search-button"><i class="fa fa-search"></i></button>
                                </form>

                            </div>  
                            <div class="message-listing">
                                <ul>
                                   <% if is_conversation %>
            <%= render 'conversations/form' %>
        <% else %>
            <%= render partial: 'conversations/conversation', collection: messages %>
        <% end %>
                                  
                                </ul>                                
                            </div>                          
                        </div>
                </div>
                <div class="col-md-8 nopl">
                    <div class="new-message-cover">
                    <form>
                        <div class="input-msg">
                        <span>To:</span><span class="new-msg-input"><input type="text" name="" id="" placeholder="Enter recepient name"></span>
                        </div>
                        <div class="msg-center-box">

                        <div class="msg-form-cover">
                            
                                <textarea name="" cols="" rows=""></textarea>
                                <div class="submit-btn-cover">
                                    <button type="submit" class="pull-right">Send</button>
                                </div>
                            
                        </div>

                        <div class="clearfix"></div>
                        </div>
                        </form>
                        <div class="clearfix"></div>    
                        
                    </div>
                    <div class="main-messages-box-cover">

                        <form>                       
                        <div class="msg-center-box">
                            <div class="msg-send-recevier-cover"> 
                            <div class="day-messages">
                                15, August 2015
                            </div>  
                            <div class="clearfix"></div> 
                            <div class="msg-sender">

                            <img src="images/teacher-img.jpg" width="50" height="50">
                                    <div class="user-name-msg">
                                        <h4>Noman Ali<span class="date-time"><i class="fa fa-clock"></i> 11:00 am </span></h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.</p>
                                    </div> 
                                    <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="msg-receiver">
                                    <img src="images/receiver.png" width="50" height="50" class="pull-right">
                                    <div class="user-name-msg text-right pull-left">
                                        <h4><span class="date-time"><i class="fa fa-clock"></i> 11:02 am </span> Me </h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                                    </div> 
                                    
                                      <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="msg-sender">

                            <img src="images/teacher-img.jpg" width="50" height="50">
                                    <div class="user-name-msg">
                                        <h4>Noman Ali<span class="date-time"><i class="fa fa-clock"></i> 11:05 am </span></h4>
                                        <p>Lorem Ipsum is simply dummy text of </p>
                                    </div> 
                                    <div class="clearfix"></div>
                            </div>
                            <div class="msg-sender">
                                <div class="clearfix"></div>
                            <img src="images/teacher-img.jpg" width="50" height="50">
                                    <div class="user-name-msg">
                                        <h4>Noman Ali<span class="date-time"><i class="fa fa-clock"></i> 11:06 am </span></h4>
                                        <p>industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                                    </div> 
                                    <div class="clearfix"></div>
                            </div>
                                <div class="clearfix"></div>
<div class="msg-receiver">
                                    <img src="images/receiver.png" width="50" height="50" class="pull-right">
                                    <div class="user-name-msg text-right pull-left">
                                        <h4><span class="date-time"><i class="fa fa-clock"></i> 11:02 am </span> Me </h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                                    </div> 
                                    
                                      <div class="clearfix"></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="day-messages">
                                16, August 2015
                            </div>  
                            <div class="clearfix"></div> 
                            <div class="msg-sender">

                            <img src="images/teacher-img.jpg" width="50" height="50">
                                    <div class="user-name-msg">
                                        <h4>Noman Ali<span class="date-time"><i class="fa fa-clock"></i> 11:12 am </span></h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.</p>
                                    </div> 
                                    <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                           <div class="msg-receiver">
                                    <img src="images/receiver.png" width="50" height="50" class="pull-right">
                                    <div class="user-name-msg text-right pull-left">
                                        <h4><span class="date-time"><i class="fa fa-clock"></i> 11:02 am </span> Me </h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                                    </div> 
                                    
                                      <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="msg-sender">

                            <img src="images/teacher-img.jpg" width="50" height="50">
                                    <div class="user-name-msg">
                                        <h4>Noman Ali<span class="date-time"><i class="fa fa-clock"></i> 11:00 am </span></h4>
                                        <p>Lorem Ipsum is simply dummy text of </p>
                                    </div> 
                                    <div class="clearfix"></div>
                            </div>
                            <div class="msg-sender">
                                <div class="clearfix"></div>
                            <img src="images/teacher-img.jpg" width="50" height="50">
                                    <div class="user-name-msg">
                                        <h4>Noman Ali<span class="date-time"><i class="fa fa-clock"></i> 11:18 am </span></h4>
                                        <p>industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                                    </div> 
                                    <div class="clearfix"></div>
                            </div>
                                <div class="clearfix"></div>

                           <div class="msg-receiver">
                                    <img src="images/receiver.png" width="50" height="50" class="pull-right">
                                    <div class="user-name-msg text-right pull-left">
                                        <h4><span class="date-time"><i class="fa fa-clock"></i> 11:02 am </span> Me </h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                                    </div> 
                                    
                                      <div class="clearfix"></div>
                            </div>


                            <div class="clearfix"></div>
                            </div>
                            




                        <div class="msg-form-cover">
                            
                                <textarea name="" cols="" rows=""></textarea>
                                <div class="submit-btn-cover">
                                    <button type="submit" class="pull-right">Send</button>
                                </div>
                            
                        </div>

                        <div class="clearfix"></div>
                        </div>
                        </form>

                        <div class="clearfix"></div>
                    </div>
                </div>
                
            </div> 
              
        </div>
    </section>
    
    <%= render 'home/footer'  %>
