  <div id="addemployee" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Employee</h4>
      </div>
      <div class="modal-body">
 <%= form_for(@company_employee) do |f| %>
<%= f.hidden_field :user_id %>
   <div class="form-group">
    <label for="pwd">Employee username or Email</label>
    <%= text_field_tag :employee_name %>
  </div>   
      </div>
      <div class="modal-footer">
        <button type="submit" class="send-msg">Add Employee</button>
      </div>
    </div>
<% end %>
  </div>
</div>    
