    <div class="picture_list">
<% if @pictures.blank? %>
<a data-target="#addpic" data-toggle="modal" class="btn" href="#">Add Picture</a>
<% else %>
    <% @pictures.each do |picture| %>

                             <div class="col-md-3 text-center">                        
                          <div class="portfolio-box">    
                          <% if picture.pic_url.blank?
                          @picurl =  asset_path('no-image.jpg')
                           else
                          @picurl = picture.pic_url
                          end %>
                          
                              <img src="<%= @picurl %>">
                              <div class="clerarfix"></div>                            
                            <p><%= picture.description %></p>
                            <a href="/pictures/<%= picture.id %>" data-remote="true" data-method="delete" data-confirm="Are you sure?" class="close-button-x"><span>X</span></a>
                          </div>
                        </div>
    <% end %>
<% end %>
      </div>
<div id="incomplete_pictures"></div>


