<h1>Listing Countries</h1>
 
<table>
  <tr>
    <th>Country</th>
  </tr>
 
  <% @countries.each do |country| %>
    <tr>
      <td><%=link_to country.countryname,country %></td>
            <td><%= link_to 'Edit', edit_country_path(country) %></td>
       <td> <%= button_to "delete", country, :method=>:delete, :class=>:destroy %></td>
    </tr>
  <% end %>
</table>