<h1>Listing Countries</h1>
 
<table>
  <tr>
    <th>Country</th>
  </tr>
 
  <% @countries.each do |country| %>
    <tr>
      <td><%= country.countryname %></td>
            <td><%= link_to 'Edit', edit_country_path(country) %></td>
      <td><%= link_to 'Destroy', country_path(country),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>