<%   
 @page_title= "Contact | ESL Jobs Lounge | Teach English Jobs Abroad | ESL Teaching JOBS"
 @page_keywords="contact, esl jobs, esl teaching jobs, esl jobs lounge,teach english"
 @page_description=""
 @page_author="ESL Teaching JOBS Lounge"
 @container_title= ""
%>
<%= render 'home/header'%>	
	<div class="home_wrapper">
	<div class="container-fluid home_main_content">
	<div class="row-fluid">
	<div class="span9">
		
		<div class="row-fluid">
			
			<div class="span12">
				<h2>Contact Us</h2>
				<table class="table table-striped">
					<tbody>
				<%= render 'contact/description' %>
					</tbody>
				</table>
			</div>
			
		</div>
	</div>	
	<%= render 'home/leftsidebar'%>
	</div>
	</div>
	</div> <!-- /container -->
<%= render 'home/footer'%>