<body>
<%= render 'home/header'%>	
	<div class="home_wrapper">
	<div class="container-fluid home_main_content">
	<div class="row-fluid">
	<div class="span9">
		
		<div class="row-fluid">
			
			<div class="span12">
				<h2>Contact Us</h2>
				<table class="table table-striped">
					<tbody>
				<%= render 'contact/description' %>
					</tbody>
				</table>
			</div>
			
		</div>
	</div>	
	<%= render 'home/leftsidebar'%>
	</div>
	</div>
	</div> <!-- /container -->
<%= render 'home/footer'%>
</body>