
<a href="#" class="btn btn-default button_center" data-toggle="modal" data-target="#addeducation">Add Education</a>

    <% @educations.each do |education| %>

                      <div class="education-row">
                        <%= link_to 'Destroy',  education,  method: :delete, data: { confirm: 'Are you sure?' }, :class=>"pull-right" %>
                        <h4><%= education.school %></h4>
                        <p><%= education.degree %></p>
                        <p class="edu-year"><%= education.date %></p>
                      </div>

    <% end %>