<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="IDCqTMmFZ0llbDY0kyCpKeJzbgVZT__f5Ykjj1xtyKY" />
  <meta name="alexaVerifyID" content="65zvHJK_gBqKg-EB01fdYTrh_Lg" />
  <%= stylesheet_link_tag "application", 'job_blue' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
